header{
  position: fixed;
  z-index: 999;
  inset: 0;
  height: 70px;

  padding: 0 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: all ease 0.5s;
}

header.black{
  background: #000;
  /* background: #141414; */
}

.header--logo{
  height: 50px;
}

.header--logo img{
  height: 100%;
}

.header--user{
  height: 35px;
}

.header--user img{
  height: 100%;
  border-radius: 3px;
}